@import '/assets/global.css';

@import '/assets/header.css';
@import './main.css';
@import '/assets/footer.css';

.grid {
  display: grid;

  grid-template-areas:
    'header header header'
    'main main main'
    'footer footer footer';

  gap: 40px 20px;
}

.grid.container {
  padding-block: 0;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
